.modal {
  @apply relative bg-white dark:bg-dark-soft p-4 md:p-6 lg:p-8 rounded shadow-lg mx-auto max-w-sm md:max-w-md lg:max-w-lg xl:max-w-xl w-full;
}

.modal-overlay {
  @apply fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center backdrop-blur;
}

// animations on position and opacity
.ReactModal__Overlay {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}